@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:wght@100..900&display=swap');

:root {
  --font-kode-mono: "Kode Mono", serif;
  --font-poppins: "Poppins", sans-serif;
}

.kode-mono {
  font-family: var(--font-kode-mono);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-shadow-lean {
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3);
  }


.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.card_wrapper{
    position: relative;
}
.card{
    position: relative;
}
.card_image{
    width: 630px;
    height: 630px;
    background-image: url(./educator.png);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    position: relative;
}

/*mask image */
.card_image{
    -webkit-mask: url("../public/leftshape.svg") center / contain no-repeat,url("../public/topcurve.svg") center / contain no-repeat,  linear-gradient(#000000 0 0);
    mask-size: 10rem;
    mask-position:bottom left,top right;
    mask-composite: exclude;
    
}

.outro{
    position: relative;
    width: 100%;
    height:1vh;
    padding:2rem;
}
.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.intro h1 {
    margin: 0;
    padding: 0;
}
.hero{
    padding:0;
}
.intro,.outro{
    background-color: #000000;
    display: flex;
    align-items: center;
}

.intro h1,
.outro h1{
    margin-bottom: 0;
}

.card{
    position: relative;
}
.card-inner{
    position: relative;
    will-change: transform;
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    gap:4em
}

.card-content{
    flex: 3;
}

.card-img{
    flex: 1;
    height: 250px;
    width: 300px;
    border-radius: 0.75em;
    overflow: hidden;
}

#card-1 .card-inner{
  background-color: #f7f7f7;
  color: #000000;
}

#card-2 .card-inner{
    background-color: #fed35b;
}

#card-3 .card-inner{
    background-color: #c3abff;
}

#card-4 .card-inner{
    background-color: #1e1e1e;
    color: #fff;
}

.will-change-transform {
    will-change: transform;
  }
